---
layout: default
---

<main class="content not-blank" role="main">
  {% if site.tags.featured %}
    <h5 class="index-headline featured"><span>Destaques</span></h5>

    <div class="container featured">
      {% for post in site.tags.featured %}
        {% include article-excerpt.html %}
      {% endfor %}
    </div>

    <h5 class="index-headline normal"><span>Regulares</span></h5>
  {% endif %}

  <div class="cf frame">
    {% for post in paginator.posts %}
      {% include article-excerpt.html %}
    {% endfor %}
  </div>

  <nav class="pagination" role="navigation">
    {% include paginator.html %}
  </nav>

  <br/>
  <br/>
</main>
