<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="HandheldFriendly" content="True"/>
    <meta name="MobileOptimized"  content="320" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"      />
    <meta name="apple-mobile-web-app-capable" content="yes"   />
    <meta name="description" content="{{ site.description }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    {% include stylesheets.html %}
  </head>

  <body itemscope itemtype="http://schema.org/Article">
    <div class="not-blank">
      <a href="http://simplyifingideas.com.br" class="logo-readium">
        <span class="logo" style="background-image: url(/assets/images/dtm.png)"></span>
      </a>
    </div>

    <main class="content" role="main">
      <article class="not-index post">
        {% if page.image %}
        <div class="article-image">
          <div class="post-image-image" style="background-image: url({% if page.image %}{{ page.image }}{% endif %})">
          </div>
          <div class="post-meta">
            <h1 class="post-title">{{ page.title }}</h1>
          </div>
        </div>
        {% else %}
        <div class="noarticleimage">
          <div class="post-meta">
            <h1 class="post-title">{{ page.title }}</h1>
          </div>
        </div>
        <br>
        {% endif %}
        <section class="post-content">
          <div class="post-reading">
            <span class="post-reading-time"></span> read
          </div>
          <a name="topofpage"></a>
          {{content}}
        </section>

        {% if site.authors[page.author].display_signature %}
          <div class="bottom-teaser cf">
            <div class="isLeft">
              <h5 class="index-headline featured"></h5>
              <section class="author">
                <div class="author-image" style="background-image: url(/assets/images/authors/{{page.author}}.jpg)">Author</div>
                <h4>{{ site.authors[page.author].name }}</h4>
                <span class="social">
                  <a class="icon-twitter" href="{{ site.authors[page.author].twitter }}" target="_blank">
                    <i class="fa fa-twitter"></i>
                  </a>
                  <a class="icon-github" href="{{ site.authors[page.author].github }}" target="_blank">
                    <i class="fa fa-github"></i>
                  </a>
                  <a class="icon-linkedin" href="{{ site.authors[page.author].linkedin }}" target="_blank">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </span>
                <p class="bio signature">{{ site.authors[page.author].signature   }}</p>
                <p class="bio description">{{ site.authors[page.author].description }}</p>
              </section>
            </div>
            {{/post}}
          </div>
        {% endif %}

      </article>
      <div id="disqus_thread"></div>
      <br/>
    </main>

    {% include footer.html %}
    {% include javascripts.html %}
  </body>
</html>
